@import 'tailwindcss';

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  --background: 220, 43%, 97%;
  --foreground: 0 0% 0%;

  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;

  --primary: 240 5.9% 10%;
  --primary-foreground: 0 0% 98%;
  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;
  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;
  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --ring: 240 5.9% 10%;

  --radius: 0.5rem;

  --chart-1: 220 70% 50%;
  --chart-2: 160 60% 45%;
  --chart-3: 30 80% 55%;
  --chart-4: 280 65% 60%;
  --chart-5: 340 75% 55%;
}

.dark {
  --background: 228, 9%, 11%;
  --foreground: 216 5% 90%;

  --card: 228, 6%, 15%;
  --card-foreground: 216 5% 90%;

  --popover: 228, 6%, 15%;
  --popover-foreground: 216 5% 90%;

  --primary: 0 0% 98%;
  --primary-foreground: 240 5.9% 10%;
  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;
  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;
  --accent: 336 87% 91%;
  --accent-foreground: 0 0% 0%;

  --border: 230, 10%, 23%;
  --input: 230, 10%, 23%;
  --ring: 216 70.4% 54.9%;

  --chart-1: 220 70% 50%;
  --chart-2: 160 60% 45%;
  --chart-3: 30 80% 55%;
  --chart-4: 280 65% 60%;
  --chart-5: 340 75% 55%;
}

:root {
  --destructive: 354 70.5% 53.5%;
  --destructive-foreground: 0 0% 100%;
  --success: 161, 74%, 42%;
  --success-foreground: 0, 0%, 100%;
  --warning: 41, 97%, 57%;
  --warning-foreground: 0, 0%, 100%;
  --info: 188, 76%, 41%;
  --info-foreground: 0, 0%, 100%;

  --sidebar: 0, 0%, 4%;
  --sidebar-foreground: 0, 0%, 100%;
  --sidebar-primary: 51, 100%, 50%;
  --sidebar-primary-foreground: 60 9.1% 97.8%;
  --sidebar-accent: 0, 73%, 91%;
  --sidebar-accent-foreground: 240 10% 3.9%;
  --sidebar-border: 217, 66%, 55%;
  --sidebar-ring: 0, 0%, 100%;
}

.dark {
  --destructive: 354 70.5% 53.5%;
  --destructive-foreground: 0 0% 100%;
  --success: 161, 74%, 42%;
  --success-foreground: 0, 0%, 100%;
  --warning: 41, 97%, 57%;
  --warning-foreground: 0, 0%, 100%;
  --info: 188, 76%, 41%;
  --info-foreground: 0, 0%, 100%;

  --sidebar: 228, 6%, 15%;
  --sidebar-foreground: 216 5% 90%;
  --sidebar-primary: 51, 100%, 50%;
  --sidebar-primary-foreground: 60 9.1% 97.8%;
  --sidebar-accent: 0, 73%, 91%;
  --sidebar-accent-foreground: 240 10% 3.9%;
  --sidebar-border: 217, 66%, 55%;
  --sidebar-ring: 0, 0%, 100%;
}

@theme inline {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-success: hsl(var(--success));
  --color-success-foreground: hsl(var(--success-foreground));
  --color-warning: hsl(var(--warning));
  --color-warning-foreground: hsl(var(--warning-foreground));
  --color-info: hsl(var(--info));
  --color-info-foreground: hsl(var(--info-foreground));
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));
  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-sidebar: hsl(var(--sidebar));
  --color-sidebar-foreground: hsl(var(--sidebar-foreground));
  --color-sidebar-primary: hsl(var(--sidebar-primary));
  --color-sidebar-primary-foreground: hsl(var(--sidebar-primary-foreground));
  --color-sidebar-accent: hsl(var(--sidebar-accent));
  --color-sidebar-accent-foreground: hsl(var(--sidebar-accent-foreground));
  --color-sidebar-border: hsl(var(--sidebar-border));
  --color-sidebar-ring: hsl(var(--sidebar-ring));

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

main.main::-webkit-scrollbar {
  width: 10px;
}

main.main::-webkit-scrollbar-thumb {
  border: 1px solid transparent;
  background-clip: padding-box;
  border-radius: 9999px;
  @apply bg-border;
}

/* vertical scrollbar */
div.vertical-scrollbar::-webkit-scrollbar {
  width: 10px;
}

div.vertical-scrollbar::-webkit-scrollbar-thumb {
  border: 1px solid transparent;
  background-clip: padding-box;
  border-radius: 9999px;
  @apply bg-border;
}

/* horizontal scrollbar */
div.horizontal-scrollbar::-webkit-scrollbar {
  height: 10px;
}

div.horizontal-scrollbar::-webkit-scrollbar-thumb {
  border: 1px solid transparent;
  background-clip: padding-box;
  border-radius: 9999px;
  @apply bg-border;
}

.quill {
  @apply border;
}

.ql-toolbar,
.ql-container {
  @apply !border-0;
}

.ql-toolbar {
  @apply bg-card !border-b;
}

.ql-editor {
  @apply min-h-20;
}

.ql-toolbar .ql-formats:not(:last-child) {
  @apply mr-4 border-r pr-4;
}

.pagination {
  @apply flex justify-center select-none;
}

.pagination li {
  @apply bg-background text-primary overflow-hidden border-y border-l;
}

.pagination li:first-child {
  @apply rounded-l-lg;
}

.pagination li:last-child {
  @apply rounded-r-lg border-r;
}

.pagination li a {
  @apply block items-center justify-center text-sm whitespace-nowrap;
}

.pagination li.active {
  @apply border-primary bg-primary text-primary-foreground border-r;
}

.pagination li.active + li {
  @apply border-l-0;
}

.pagination li:not(.active):not(.disabled):hover {
  @apply border-primary bg-primary/90 text-primary-foreground border-r;
}

.pagination li:not(.active):not(.disabled):hover + li {
  @apply border-l-0;
}

.pagination li.disabled a {
  @apply bg-muted text-muted-foreground cursor-default;
}

.pagination li a {
  /* @apply p-4; */
}

.pagination.pagination-sm li a {
  @apply flex min-h-8 min-w-8 items-center px-2 align-middle;
}

.react-quill-content strong {
  @apply font-semibold;
}

.react-quill-content ol,
.react-quill-content ul {
  @apply pl-8;
}

.react-quill-content li[data-list='ordered'] {
  @apply list-decimal;
}

.react-quill-content li[data-list='bullet'] {
  @apply list-disc;
}

.react-select-container {
  overflow: visible;
}

.react-select__value-container {
  @apply !px-[10px];
}

.react-select__control {
  @apply !border-input !min-h-9 !rounded-md !border !text-sm !shadow-xs;
  /* min-height: 35px !important; */
  height: 100% !important;
}

.react-select__control--is-focused {
  @apply !border-ring !ring-ring/50 !ring-[3px];
  outline: none !important;
}

.react-select__indicators {
  height: auto !important;
}

.react-select__indicators > div {
  @apply !p-1;
}

/* .react-select-container {
  overflow: visible;
}

.react-select__control {
  @apply !border-input !rounded-md !border !text-sm !shadow-xs;
  min-height: 35px !important;
  height: 100% !important;
}

.react-select__control--is-focused {
  @apply ring-ring focus-visible:border-ring focus-visible:ring-ring/50 ring-1 outline-none focus-visible:ring-[3px];
  outline: none !important;
}

.react-select__indicators {
  height: auto !important;
}

.react-select__indicators > div {
  padding: 6px !important;
}

.react-select__option {
  padding: 5px 10px !important;
} */

/* Scrollbar Styling */
.react-select__menu-list {
  max-height: 200px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--primary)) #f1f1f1;
}

.react-select__menu-list::-webkit-scrollbar {
  width: 8px;
}

.react-select__menu-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.react-select__menu-list::-webkit-scrollbar-thumb {
  background-color: hsl(var(--primary));
  border-radius: 4px;
  border: 2px solid #f1f1f1;
}

.react-select__menu-list::-webkit-scrollbar-thumb:hover {
  background-color: #0056b3;
}
